title = "Birds Type"
url = "/birds-type/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Gorob4ik\Birds\Models\BirdsType"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "bird_type"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    {{ attribute(record, displayColumn) }}
{% else %}
    {{ notFoundMessage }}
{% endif %}

{% for bird in record.birds %}

    <h3>{{ bird.name }}<br /></h3>

{% endfor %}