title = "Bird"
url = "/bird/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Gorob4ik\Birds\Models\Birds"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{record.name}}</h2>
    <h3>Gallery</h3>
    <ul class="gallery clearfix">
        {% for image in record.images_gallery %}
            <a href="{{ image.path }}">
                <li><img src="{{image.thumb('150', auto)}}" alt=""></li>
            </a>

        {% endfor %}
    </ul>


    <p>{{record.description | raw}}</p>

    <span class="date">{{record.created_at}}</span>

{% else %}
    {{ notFoundMessage }}
{% endif %}