title = "Bird"
url = "/bird/:name"
layout = "default"
is_hidden = 0
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[builderDetails]
modelClass = "Gorob4ik\Birds\Models\Birds"
identifierValue = "{{ :name }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{record.name}}</h2>
    <h3>Gallery</h3>
    <ul class="gallery clearfix">
        {% for image in record.images_gallery %}
            <a href="{{ image.path }}">
                <li><img src="{{image.thumb('150', auto)}}" alt=""></li>
            </a>

        {% endfor %}
    </ul>

    <h2>About Bird</h2>


    <p>{{record.description | raw}}</p>

    <h3>Birds Type</h3>

    {% for bird_type in record.types %}

        <a href="{{ 'birds-type' | page ( { slug :bird_type.slug} ) }}">{{ bird_type.bird_type }}</a><br />

    {% endfor %}

    <p><span class="date">{{record.created_at}}</span></p>

{% else %}
    {{ notFoundMessage }}
{% endif %}